<div class="workspace">
  <p-toolbar class="workspace__toolbar">
    <ng-template pTemplate="start">
      <div class="toolbar-actions">
        <p-button [text]="true" [rounded]="true" title="Upload a G-code file" (onClick)="openFilePicker()">
          <app-tabler-icon name="file-upload" [size]="20" />
        </p-button>
        <p-button
          [text]="true"
          [rounded]="true"
          severity="danger"
          title="Delete the current G-code file"
          [disabled]="!currentGcodeFile()"
          (onClick)="deleteGcodeFile()"
        >
          <app-tabler-icon name="trash-x" [size]="20" />
        </p-button>
      </div>
    </ng-template>
  </p-toolbar>

  <input #fileInput type="file" accept=".gcode,.nc,.ngc,.txt" hidden (change)="onFileInputChange($event)" />

  <p-splitter class="workspace__splitter" layout="horizontal" [panelSizes]="[25, 75]">
    <ng-template pTemplate="panel">
      <aside class="sidebar">
        <app-machine-status-card />
        <app-gcode-file-card />
        <app-position-card />
      </aside>
    </ng-template>

    <ng-template pTemplate="panel">
      <section class="viewer">
        <p-tabs [value]="activeTab()" class="viewer__tabs-nav">
          <p-tablist>
            <p-tab value="gcode" (click)="navigateToTab('gcode')">G-code viewer</p-tab>
            <p-tab value="terminal" (click)="navigateToTab('terminal')">Terminal</p-tab>
          </p-tablist>
        </p-tabs>
        <router-outlet />
      </section>
    </ng-template>
  </p-splitter>
</div>
