:host {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.workspace {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-height: 0;
}

.workspace__tabs-nav {
  flex: 0 0 auto;
}

.workspace__content {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
  padding: 1.5rem;
}
